<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>congratz</h1>
      <p>Hi <%= @order.user.email %></p>
      <section class="slice slice-lg">

        <div class="container text-center">
            <h3>Summary of your order</h3>
        </div>

        <div class="container">
            <!-- Shopping cart -->
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th></th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% total_price = 0 %>

                        <% @order.items.each do |item| %>


                            <tr id="cartitem-line-<%= item.id %>">
                                <!-- Colonne Produit--->
                                <td>
                                    <img alt="Image placeholder" class="mr-3" src="<%= item.image_url %>" style="width: 80px;">
                                </td>
                            
                                <td>
                                    <div class="media align-items-center">
                                        
                                        <div class="media-body">
                                            <div class="lh-100">
                                                <span class="text-dark font-weight-bold mb-0"> <%= item.title %></span>
                                            </div>
                                            <span class="font-weight-bold text-muted"> <%= item.description  %></span>
                                        </div>
                                    </div>
                                </td>

                            <!-- Colonne prix -->
                                <td>
                                    <span class="font-weight-bold text-dark">$<%= item.price %></span>
                                </td>
                            </tr>

                        <% total_price += item.price %>

                       <% end %>

                    </tbody>
                </table>
            </div>

            <!-- Cart information -->
            <div class="mt-5 pt-5 delimiter-top">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4 text-center">

                        <h5 class="mb-0">Total : $<%= total_price %></h5>
        
                    </div>
                </div>
            </div>

        
        </div>
    </section>
  </body>
</html>