<!-- Account navigation -->
<br/>
<div class="container">
    <h3 class="text-center">My Profile</h3>
    <%= link_to "Edit your profile", edit_user_registration_path, class: 'btn btn-primary btn-circle mt-4' %>
        <br/>
        <br/>

        <div class="container">
            <h3 class="text-primary">Welcome to your profile page <%= current_user.email %></h3>
            <br/>
        </div>
</div>
</section>
<div class="container">
    <div class="col-8">

        <% @orders.each do |order| %>

            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>

                <h5>Total amount : <%= order.amount %> €, ordered on: <%=order.updated_at.strftime("%F at %I:%M%p") %> </h5>

                <% order.items.each do |item| %>

                    <tbody>
                        <tr>
                            <td>
                                <%= item.title %>
                            </td>
                            <td>
                                <%= item.price %>
                            </td>
                        </tr>
                        <% end %>
                            <% end %>
                    </tbody>
            </table>
    </div>
</div>
<br/>