<main>


    <section class="slice slice-lg" id="sct-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <a href="">

                        <!-- Display the image with a url or with an image upload-->
                        <%if @item.image.attached?%>
                        <%= image_tag(@item.image, alt: 'Image placeholder', style: "max-width:500px;") %>

                        <%else%>

                        <img alt="Image placeholder" src=" <%= @item.image_url %>">

                        <%end%>
                    </a>

                </div>

                <% if flash[:success] %>
                <div class="success">
                    <%= flash[:success] %>
                </div>
                <% end %>

                <div class="col-lg-6 justify-content-center" style="padding-left: 2px;">
                    <!-- Product title -->
                    <h2 class="h5 text-capitalize">
                        <%= @item.title %>
                    </h2>

                    <hr>
                    <!-- Product description -->
                    <div class="mt-4">
                        <small class="text-dark font-weight-bold d-block mb-2">Description:</small>
                        <p class="text-sm lh-150">
                            <%= @item.description %>
                        </p>
                    </div>
                    <hr>


                    <div class="row-6 align-items-center">
                        <div>
                            <p class="d-flex justify-content-start" style="font-size: 20px; padding-top: 20px;">
                                <%= @item.price %> € </p>

                            <% if current_user != nil && @cart.items.include?(@item)%>

                            <p class="d-flex justify-content-start" style="font-size: 18px; padding-top: 10px;">
                                Already added to cart. </p>
                            <% else %>
                            <%= link_to "Add to cart", item_cartitems_path(@item), method: :post, class: "btn btn-primary" %>
                            <% end %>
                        </div>

                    </div>
                </div>
            </div>
    </section>




</main>