    <!-- Main navbar -->
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark "> 
<div class="container">
            <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_example_1" aria-controls="navbar_example_1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_example_1">
                <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/fKKtyvF.png" style="width: 100px; height: 100px;"alt=""></a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link"<%= link_to "Home ", root_path %></a>
                    </li>
                    <% if user_signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" <%= link_to "My cart", cart_path(current_user.id) %> </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" <%= link_to "My profile", user_path(current_user.id) %> </a>
                    </li>

                    <% else %>
                    <% end %>

                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/watch?v=04854XqcfCY">About us</a>
                    </li> 
                </ul>

            <ul class="navbar-nav ml-auto ">

            <% if user_signed_in? %>
            <li class="nav-item">
                <a class="nav-link" <%= link_to current_user.email, cart_path(current_user.id) %> </a>
            </li>
            <% end %>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_1_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                        <% if user_signed_in? %>
                        <a class="dropdown-item" <%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
                        <% else %>
                        <a class="dropdown-item" <%= link_to "Log In", new_user_session_path %> </a>
                        <a class="dropdown-item" <%= link_to "Sign Up",  new_user_registration_path %> </a>
                        <% end %>
                    </div>
                </li>
            
                
            </ul>
            
        </div>
        </div>
</nav>